<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blue App</title>
</head>
<body style="background-color: blue">
    <h1 style="color: white">Blue App</h1>
    <h3>
        <span id="username" style="color: seashell"></span>
    </h3>
    <div>
        <h4><a href="http://red.mra.io:4000" style="color: white">Go to Red App</a></h4>
        <h4><a href="http://green.mra.io:4000" style="color: white">Go to Green App</a></h4>
    </div>
    <div>
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>

<script>
    fetch("/api/users/current").then(response => response.json()).then(user => {
        document.getElementById('username').textContent = 'Hello ' + user['name'];
    });
</script>
</html>